# stupid workaround because I don't want to fight with astro not liking uv
azure-core>=1.36.0
azure-storage-blob>=12.27.1
duckdb>=1.4.3
google-cloud-bigquery>=3.39.0
pandas>=2.3.3
python-dotenv>=1.2.1
